@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@custom-variant dark (&:where(.dark, .dark *));


/* global.css, al principio del fichero */
/* @custom-variant dark (
  
  &:where(.dark, .dark *),
 
  :has(#dark-toggle:checked) &,
  
  :has(#dark-toggle:checked) & *
) */



@theme {
	--color-light-bg: #fff;
	--color-light-text: #000;
	--color-light-surface:#E0E0E0;
	--color-buttons-bg:oklch(0.746 0.16 232.661);
	--color-buttons-text: #fff;
	
	 --color-dark-bg: #0B1D2A;
  --color-dark-text: #E2E8F0;
  --color-dark-surface: #15232E;
}



.menu-bar {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.gray.300') theme('colors.white');
}

.dark .menu-bar{
  scrollbar-color: theme('colors.gray.300') theme('colors.dark.surface');
}


html{
	scroll-behavior: smooth;
}


@keyframes show {
    from{
        opacity: 0;
		transform: translateY(60px);
    }
    to{
        opacity: 1;
		transform: translateY(0px);
    }
}



.scroll-animation
{
    view-timeline: --image;
    view-timeline-axis: block;

    animation-timeline:  --image;
    animation-name: show;

    animation-range: entry 35% cover 40%;
    animation-fill-mode: both;
} 
