@import 'tailwindcss';

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@custom-variant dark (&:where(.dark, .dark *));


/* global.css, al principio del fichero */
/* @custom-variant dark (
  
  &:where(.dark, .dark *),
 
  :has(#dark-toggle:checked) &,
  
  :has(#dark-toggle:checked) & *
) */



@theme {
	--color-light-bg: #fff;
	--color-light-text: #000;
	--color-light-surface:#E0E0E0;


	--color-dark-bg: #121212;
	--color-dark-text: #fff;
	--color-dark-surface: #1E1E1E;
}



