---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/global.css';

const menuLinks = [
	{ href: '/', label: 'Home' },
	{ href: '/blog', label: 'Blog' },
];


const submenuLinks = [
	{
		submenu_title: 'Methods',
		links: [
			{ href: '/geophysics/gravimetry', label: 'Gravimetry' },
			{ href: '/geophysics/magnetometry', label: 'Magnetometry' },
			{ href: '/geophysics/seismology', label: 'Seismology' },
			{ href: '/geophysics/geodesy', label: 'Geodesy' },
			{ href: '/geophysics/geoelectrics', label: 'Geoelectrics' },
		],
	},
];

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="w-full">
		<Header title="Geophysics" links={menuLinks} submenu={submenuLinks}/>
		<main>
			
		</main>
	</body>
</html>
