---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";

interface LinkItem {
	href: string;
	label: string;
}

interface Props {
	title: string;
	links: LinkItem[];
}

const { title, links } = Astro.props as Props;
---

<header
	class="w-full h-10 flex items-center justify-center px-3 bg-light-bg relative"
>
	<div class="flex items-center justify-between gap-4 w-full max-w-[1200px]">
		<a href="/">
			<strong>{title}</strong>
		</a>

		<button class="text-3xl">
			<Icon name="mdi:menu" />
		</button>

		<input type="checkbox"
		 class="peer cursor-pointer opacity-0  h-[2rem] w-[2rem] absolute top-1/2 right-0 -translate-1/2" />

		<nav class="absolute top-full right-0 hidden peer-checked:block">
			<ul>
				{
					links.map((link) => (
						<li>
							<HeaderLink href={link.href}>
								{link.label}
							</HeaderLink>
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</header>
