---
import { type ImageMetadata } from "astro";

interface Props {
    text:string
    backgroundImage:ImageMetadata
}

const {text,backgroundImage} = Astro.props as Props
---

<section
    style={{
        backgroundImage: `url('${backgroundImage.src}')`,
        backgroundSize: "cover",
        backgroundPosition: "center",
        backgroundRepeat: "no-repeat",
    }}
    class="min-h-[80vh] w-full relative before:inset-0 mt-6 flex flex-col items-center justify-center
before:min-h-[8vh] before:w-full before:bg-black/60 before:absolute before:z-10 px-5 "
>
    <div class="w-full max-w-[900px] relative z-20 scroll-animation">
        <p class="text-center text-light-bg font-semibold text-3xl">
            {text}
        </p>
    </div>
</section>
