---  
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';

interface LinkItem { href: string; label: string }
interface Props { submenu_title: string; links: LinkItem[] }

const { submenu_title, links } = Astro.props as Props
---
<li class="w-full text-center">
  <details class="group">
    <summary 
      class="cursor-pointer list-none flex"
    >
      <span class="flex-1 text-center">
        {submenu_title}
      </span>
      <span 
        class="transition-transform duration-200 group-open:rotate-180"
        aria-hidden="true"
      >
        <Icon name="mdi:chevron-down" width={24} height={24} />
      </span>
    </summary>

    <ul class="mt-1  space-y-3 border-l border-light-text/20 dark:border-dark-text/20  ">
      {links.map(link => (
        <li class="ml-4 text-left" >
          <HeaderLink href={link.href}>
            {link.label}
          </HeaderLink>
        </li>
      ))}
    </ul>
  </details>
</li>

